body {
    font-family: Courier;
}

h1 {
  font-size: 72px;
  text-align: center;
}

.container {
  padding-left: 20%;
  padding-right: 20%;
}

img {
    width: 50%;
    margin: auto;
    display: block;
    padding: 100px;
}
