<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Remix Finder</title>

    <link href="static/login.css" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
    <link href= "{{ url_for('static',filename='bootstrap.css') }}" rel="stylesheet" media="screen">

    <link href="{{ url_for('static',filename='search.css') }}" rel="stylesheet">
  </head>

  <body onLoad="loading_page()">

    <img class="img" id="logo" src="{{url_for('static',filename='images/logo.png')}}">

    <div class="container wrapper">

      <!-- Login form -->
      <form method="post" value="search" class="form-signin" role="form">

        <!-- Search Query -->
        <div class="form-group">
            <input name="query" type="text" class="form-control" id="query" placeholder="Artist Name">
        </div>

        <!-- Submit button -->
        <div class="form-group">
          <button onclick="loading_screen()" type="submit" name="submit" value="search" class="btn btn-default">Search
          </button>
        </div>
      </form>

      <div id="loading_text">
      </div>
      <div>
        <img id="loading_image" src="{{url_for('static',filename='images/loading.svg')}}" alt="" width="120" height="120">
      </div>

    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='search.js') }}"></script>

    <!-- Footer -->
    <div class="footer">
    <span id="footer_text">Powered by </span><img id="footer_image" src="{{url_for('static',filename='images/Spotify_Logo_CMYK_Green.png')}}">
    </div>

  </body>
</html>
